<html>
	<body>
		<p> Rabat: <%= (Math.random() * (30 - 20) + 20).toFixed(2); %> </p>
		<p> Casa: <%= (Math.random() * (30 - 20) + 20).toFixed(2); %> </p>
		<p> Fes: <%= (Math.random() * (30 - 20) + 20).toFixed(2); %> </p>
	</body>
</html>
